<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="XLog" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <XLog>
    <add key="archive.oldfiles" value="true" />
    <add key="delete.oldfiles" value="true" />
    <add key="default.layout" value="${longdate}|${level:uppercase=true}|${message}" />
    <add key="default.number.suffix" value=".{###}" />
    <add key="default.suffix" value=".log" />
  </XLog>

</configuration>
