<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="XLog" type="System.Configuration.DictionarySectionHandler" />
    <section name="NLog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <XLog>
    <add key="displaylogger.layout" value="${date:format=H\:mm\:ss}|${level:uppercase=true}|${event-properties:WbName}${when:when='${event-properties:Context}'!='':inner=|${event-properties:Context}}|${message}" />
    <add key="filelogger.layout" value="${longdate}|${level:uppercase=true}|${when:when='${event-properties:Context}'!='':inner=|${event-properties:Context}}|${message}" />
    <add key="filelogger.numbersuffix" value=".{###}" />
    <add key="filelogger.logsuffix" value=".log" />
  </XLog>

  <NLog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>

      <target name="internalLog" xsi:type="File"
              fileName="${tempdir:file=XLog.log}"
              archiveOldFileOnStartup="true"
              archiveNumbering="Rolling"
              maxArchiveFiles="5"
              layout="${longdate}|${level:uppercase=true}|${callsite}|${message}${onexception:inner=|${exception:format=Type}\: ${exception:format=Message}}"
      />

    </targets>

    <rules>
      <logger name="XLog.*" minlevel="Error" writeTo="internalLog" />
    </rules>

  </NLog>

</configuration>
